{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}



    {% for post in posts %} 
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-2 mb-lg-0 rounded" src="{{post.imagen.url}}" alt=""  >
            <div class="intro-text left-0 text-center bg-faded p-2 rounded">
              <h2 class="section-heading mb-1" >
                <span class="section-heading-lower">{{post.titulo}}</span>
                <span class="section-heading-upper">{{post.contenido}}</span>
                
             <div style="text-align: left; font-size: 0.4em; ">
                Autor: {{post.autor}}  
             </div>
            </div>
          </div>
        </div>
</section>

       {% endfor %} 

       <section>
        <div style="width: 75%; margin: auto; text-align: center; color: white;">
        
          Categorías: 

          {% for post in posts %}

            {% for categoria in post.categorias.all %}

              {{categoria.nombre}} &nbsp;&nbsp;&nbsp;

            {% endfor %}
        
          {% endfor %}
        
        </div>



    </section>

{% endblock %}

